body {
    background-image: url("background.jpg");
}

header, section {
    width: 100%;
}

.header, .section{
    width: 960px;
}

.div1, .div2, .div3{
    display:inline-block;
    width:315px;
}

.div1 div, .div2 div, .div3 div {
    margin:13px 0;
    width:315px;
    display:inline-block;
}

h1, h2{
    color: #01bcf5;
}

section a:hover {
    background-color: #0172ff;
}

section a {
    display:inline-block;
    margin:0 auto;
    color: white;
    text-decoration: none;
    font-size: 19px;
    padding: 20px 30px;
    background-color: #792884;
    border:6px solid white;
    border-radius: 25px;
}
